footer(id="gtco-footer" class="gtco-section" role="contentinfo")
  div(class="gtco-container")
    div(class="row row-pb-md")
      div(class="col-md-8 col-md-offset-2 gtco-cta text-center")
        h3 See for yourself. Try beta.
        a(href="/try_beta" class="btn btn-white btn-outline") Try Beta
    div(class="row row-pb-md")
      div(class="col-md-4 gtco-widget gtco-footer-paragraph")
        h3 
          a(href="/")
            img(src="images/mascot_circle_small.png" alt="")
          | UnicornAR
      div(class="col-md-4 gtco-footer-link")
        div(class="row")
          div(class="col-md-6")
            ul(class="gtco-list-link")
              li
                a(href="/") Home
              li
                a(href="/contact") Contact
          div(class="col-md-6")
            p
              a(href="tel://1234567890") +1 234 4565 2342
              a(href="mailto:info@moxie-sports.com") 
                | info@moxie-sports.com
      div(class="col-md-4 gtco-footer-subscribe")
        div(class="col-md-3")
          a(href="")
            i(class="ti-facebook")
        div(class="col-md-3")
          a(href="")
            i(class="ti-instagram")
        div(class="col-md-3")
          a(href="")
            i(class="ti-youtube")
