head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title UnicornAR
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='moxie reality')
  meta(name='keywords' content='VR, Virtual Reality, AR, Augmented Reality, fitness, workout')
  meta(property='og:title' content='')
  meta(property='og:image' content='')
  meta(property='og:url' content='')
  meta(property='og:site_name' content='')
  meta(property='og:description' content='')
  meta(name='twitter:title' content='' )
  meta(name='twitter:image' content='' )
  meta(name='twitter:url' content='' )
  meta(name='twitter:card' content='' )
  link(href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet")

  //- Animate.css
  link(rel="stylesheet" href="css/animate.css")
  //- Icomoon Icon Font
  link(rel="stylesheet" href="css/icomoon.css")
  //- Themify Icon
  link(rel="stylesheet" href="css/themify-icons.css")
  //- Bootstrap
  link(rel="stylesheet" href="css/bootstrap.css")

  //- Magnific Popup
  link(rel="stylesheet" href="css/magnific-popup.css")

  //- Owl Carousel
  link(rel="stylesheet" href="css/owl.carousel.min.css")
  link(rel="stylesheet" href="css/owl.theme.default.min.css")

  //- Theme style
  link(rel="stylesheet" href="css/style.css")

  //- Modernizr JS
  script(src="js/modernizr-2.6.2.min.js")
  script(src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js")
