nav(class="gtco-nav" role="navigation")
  div(class="gtco-container")
    div(class="row")
      div(class="col-sm-4 col-xs-12")
        div(id="gtco-logo")
          a(href="/")
            img(src="images/mascot_logo.png" alt="")
          | UnicornAR
      div(class="col-xs-8 text-right menu-1")
        ul
          li
            a(href='/') Home
          li
            a(href="/features") Features
          li
            a(href="/team") Team
          li
            a(href="/try_beta") Try Beta
